[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "cmake/codecov"]
	path = cmake/codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "lib/fakeit"]
	path = lib/fakeit
	url = https://github.com/eranpeer/FakeIt.git
