[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "cmake/codecov"]
	path = cmake/codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "lib/fakeit"]
	path = lib/fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "lib/mavlink/mavlink/v2.0"]
	path = lib/mavlink/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
[submodule "lib/fake_clock"]
	path = lib/fake_clock
	url = https://github.com/korfuri/fake_clock.git
[submodule "lib/pegtl"]
	path = lib/pegtl
	url = git@github.com:taocpp/PEGTL.git
